name: QSI Unit Tests

on:
  push:
    branches: [alpha, master]
    paths:
      - 'Qsi*/**'
      - '!Qsi.Debugger/**'
  pull_request:
    branches: [alpha, master]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0.27
        env:
          MYSQL_USER: root
          MYSQL_PASSWORD: root
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306
      postgres:
        image: postgres:14
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2

    - name: Setup MySQL
      run: sudo /etc/init.d/mysql start

    - name: Setup .NET 6
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'

    - name: Setup QSI
      shell: pwsh
      run: ./Setup.ps1

    - name: Restore dependencies
      run: dotnet restore Qsi.Tests

    - name: Build
      run: dotnet build Qsi.Tests --no-restore

    - name: Test
      run: dotnet test Qsi.Tests --no-build --verbosity normal
